<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package ID="R3" Version="1.2.8" TargetFramework="netstandard2.1" AllowedVersions="[1.2.8]" />
  <package ID="Microsoft.Bcl.TimeProvider" Version="8.0.1" TargetFramework="netstandard2.0" AllowedVersions="[8.0.0, )" />
  <package ID="System.ComponentModel.Annotations" Version="5.0.0" TargetFramework="netstandard2.1" AllowedVersions="[5.0.0, )" />
  <package ID="System.Runtime.CompilerServices.Unsafe" Version="6.0.0" TargetFramework="netstandard2.0" AllowedVersions="[6.0.0, )" />
  <package ID="System.Threading.Channels" Version="8.0.0" TargetFramework="netstandard2.1" AllowedVersions="[8.0.0, )" />
  <package ID="Microsoft.Bcl.AsyncInterfaces" Version="8.0.0" TargetFramework="netstandard2.1" AllowedVersions="[8.0.0, )" />
</packages>